OPENAI_BASE_URL={{ omniroute_api_base_url }}
OPENAI_API_KEY={{ vault_omniroute_token }}
TELEGRAM_BOT_TOKEN={{ vault_telegram_bot_token }}
TELEGRAM_ALLOWED_USERS={{ vault_telegram_allowed_users }}
PASEO_PASSWORD={{ paseo_password }}
